.confirm-password {
  line-height: 1rem;
}

.confirm-password p {
  font-size: 1.4rem;
}

.confirm-password input {
  width: 30rem;
  height: 3rem;
  background: #eaeaea;
  border: none;
  font-size: 1.5rem;
}

.password-correct {
  display: none;
}

.password-incorrect {
  color: red;
}

.confirm-password-correct {
  display: none;
}

.confirm-password-incorrect{
  color: red;
}

@media (max-width: 991.98px) {
  .Login_content form .confirm-password p {
    margin-right: 18rem;
  }
}
