.footer {
  height: auto;
  background: rgba(37, 93, 16, 1);
  clip-path: ellipse(52% 90% at 50% 90%);
}

.footer img {
  width: 25rem;
  height: 25rem;
}

.footer h1 {
    color: rgba(234, 234, 234, 1);
    font-size: 3rem;
}

.footer p {
    color: rgba(234, 234, 234, 1);
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    clip-path: ellipse(65% 90% at 50% 90%);
  }
  .footer img {
      width: 20rem;
      height: 20rem;
  }
}
