.navIcons {
  font-size: 2.8rem;
  align-items: center;
  color: #f0f2ec;
}
.button {
  background-color: #164007;
  color: #f0f2ec;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navIcons:hover,
.button:hover,
.button:active {
  color: #e49c11;
}
.badge {
  background-color: #b94517;
  padding: 0.5rem 0.75rem;
  border-radius: 25px;
  margin-left: 0.3rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
