.cardd {
    padding: 8rem 1rem;
    background-color: rgb(91, 133, 76);
    border-radius: 2rem;
    position: relative;
}

.cardd h1 {
    font-size: 3rem;
    color: white;
    font-weight: 700;
}

.leaves {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
}


@media (max-width: 1199.98px) {
    .cardd {
        padding: 8rem 3rem;
    }
    .cardd h1 {
        font-size: 4rem;
    }
}
@media (max-width: 991.98px) {
    .cardd {
        padding: 7rem 3rem;
    }
    .cardd h1 {
        font-size: 3.5rem;
    }
    .cd {
        margin-left: 2rem;
    }
}

@media (max-width: 767.98px) {
    .cardd {
        padding: 6rem 3rem;
    }
    .cardd h1 {
        font-size: 3rem;
    }
}

@media (max-width: 575.98px) {
    .cardd {
        padding: 5rem 1rem;
    }
}


